.contacts__address {
  margin-bottom: 14px;
}

.contacts__address li {
  font-size: 20px;
  line-height: 24px;
}

.contacts__contacts-block {
  margin-bottom: 30px;
}

.contacts__contacts-item-phone {
  font-size: 40px;
  line-height: 48px;
}
.contacts__contacts-item-email {
  font-size: 20px;
  line-height: 24px;
}

.contacts__soc-block {
  margin-bottom: 47px;
}

.contacts__map {
  height: 328px;
}