//<Адаптив>===========================================================================================================================================
@media (max-width: 1450px) {
	.container {
		padding: 0 10px;
	}
	.topical__card {
		max-width: 660px;
		margin-right: 25px;
	}
}

@media (max-width: 1360px) {
	.info__block-tabs .tab__navitem {
    flex: 0 1 25%; }
}

@media (max-width: 1280px) {
	.info__form-block-sel {
		margin-right: 15px; }
	.info__form-block-inp {
    margin-right: 15px; }
	.info__form-block-sel_last {
		flex: 0 1 170px;
		margin-right: 0; }
	.info__form-block-inp input {
		margin-right: 8px; }
	.info__form-block-inp input:last-child {
		margin-right: 0; }
}

@media (max-width: 1200px) {
	.topical__position {
		left: -5%; }
	.advant__item {
		flex: 0 1 22.3%;
		padding: 35px 30px; }
	.reviews__card {
		flex: 0 1 32%; }
	.consult-form__form-block-img {
		display: none; }
	.team__card {
		flex: 0 1 24%; }
	.team__card-descp {
		padding: 15px 15px 35px 15px; }
}

@media (max-width: 1150px) {
	.advant__row {
    flex-wrap: wrap; }
	.advant__item {
    flex: 0 1 49%;
    padding: 35px; 
		margin-bottom: 20px; }
}

@media (max-width: 1100px) {
	.info__block-tabs {
		padding: 20px 25px 40px 25px; }
	.info__form-block-sel {
		flex: 1 1 auto; }
}

@media (max-width: 1040px) {
	.footer__menu {
    margin-bottom: 35px; }
}

@media (max-width: 1024px) {
	.topical__card {
		margin-right: 15px; }
	.topical__position p {
		font-size: 23px; }
	.topical__position {
		padding: 35px 118px;
		left: -20%; }
	.consult-form__form-block {
		padding: 60px 22px 22px 22px; }
	.consult-form__form-input {
		margin-right: 10px; }
}

@media (max-width: 1000px) {
	.info__form-block-col {
		flex-wrap: wrap; }
	.info__form-block-col:last-child {
		flex-wrap: nowrap; }
	.info__form-block-sel {
		margin-bottom: 10px; }
	.info__form-block-inp {
		margin-bottom: 10px; }
	.info__form-block-col:last-child	.info__form-block-inp {
		margin-bottom: 0; }
}

@media (max-width: 960px) {
	.info__block-tabs .tab__navitem {
		font-size: 18px; }
}

@media (max-width: 930px) {
	.header__nav-block {
		flex: 0 1 650px; 
		justify-content: flex-end; }
	.header__soc-block {
		margin-right: 30px;}
	.header__callback {
		margin-right: 20px; }
	.topical__position {
		padding: 35px 100px; }
}

@media (max-width: 900px) {
	.topical__position {
		left: 0;
		padding: 35px 48px;
		background-image: none;
		background-color: #00000035;
	}
	.topical__position p {
		font-size: 28px; }
}

@media (max-width: 812px) {
	.info__block-tabs {
		padding: 20px 15px 35px 15px; }
	.reviews__row {
		flex-wrap: wrap; }
	.reviews__image-wrap {
		margin: 5px 0 10px 0;  }
	.reviews__card {
		flex: 0 1 49%; 
		margin-bottom: 15px;
	}
	.team__row {
    flex-wrap: wrap; }
	.team__card {
		flex: 0 1 49%; 
		margin-bottom: 15px; }
	.team__card-img img {
		object-fit: fill; }
}

@media (max-width: 768px) {
	.header {
    padding: 5px 0; }
	.logo-icon {
    max-width: 120px;
    height: 45px; }
	.logo-icon:before {
    background-size: 80%; }
	.header__callback {
		flex: 0 0 180px;}
	.header__callback a {
		font-size: 23px;
		font-weight: 700;
		line-height: 25px; }
	.header__popup-link {
		display: none; }
	.header__soc-block {
		flex: 0 0 150px; }
	.header__soc-block-icon {
		margin-bottom: 0; }
	.header__soc-block p {
		display: none; }
	.page {
		padding: 55px 0 0 0; }
	.mob-menu {
		top: 50px; }
	.info {
		padding: 30px 0 60px 0; }
	.info__block-tabs .block__nav {
		flex-wrap: wrap; }
	.info__block-tabs .tab__navitem {
		flex: 0 1 50%; }
	.info__block-tabs .tab__navitem.active:before {
		display: none; }
	.choice {
		padding: 35px 0; }
	.reviews {
		padding: 35px 0; }
	.reviews h2 {
		margin-bottom: 35px; }
	.hot-deals {
		padding: 25px 0; }
	.hot-deals h2 {
		margin-bottom: 35px; }
	.footer__contact .header__soc-block p {
		display: block; }
}

@media (max-width: 700px) {
	.mob-menu {
    width: 100%;
    right: -100%;
    transition: right 0.8s; }
	.info__form-block-col:last-child	.info__form-block-inp {
		flex: 1 1 auto; }
	.advant__row {
		justify-content: center; }
	.advant__item {
		flex: 0 1 75%; }
}

@media (max-width: 630px) {
	.header__soc-block {
    margin-right: 20px; }
}

@media (max-width: 613px) {
	.topical__card img {
		width: 100%; }
	.consult-form__form {
		flex-wrap: wrap; }
	.consult-form__form-input {
		flex: 0 1 48%;
		margin-right: 0;
		margin-bottom: 10px; }
	.footer__menu {
		width: 100%; }
}

@media (max-width: 600px) {
	.header__soc-block {
    display: none; }
	.reviews__row {
		justify-content: center; }
	.reviews__card {
		flex: 0 1 80%; }
	.footer__contact .header__soc-block {
		display: block; }
}

@media (max-width: 515px) {
	.info {
		padding: 10px 0 60px 0; }
	.info__item {
    flex-wrap: wrap; }
	.info__item-link {
		flex: 0 1 48%;
		margin-bottom: 15px; }
	.info__form-block-col {
		margin-bottom: 25px; }
	.info__form-block-col:last-child {
		flex-wrap: wrap; }
	.info__form-block-col:last-child .info__form-block-inp {
		flex: 0 1 100%; 
		margin-right: 0;
		margin-bottom: 10px; }
	.info__form-block-inp-btn {
		flex: 0 1 100%; }
	.info__form-block-sel {
		flex: 0 1 100%; 
		margin-right: 0; }
	.info__form-block-inp {
		flex: 0 1 100%;
		margin-right: 0; }
	.info__form-block-inp input {
		flex: 0 1 100%; }
	.topical {
		padding: 35px 0; }
	.choice h2 {
		margin-bottom: 25px; }
	.advant__item {
		flex: 0 1 100%; }
	.advant__item:before {
		margin-bottom: 15px; }
	.advant__item-line {
		margin-bottom: 15px; }
	.reviews__card {
		flex: 0 1 100%; 
		padding: 0 25px 25px 25px; }
	.team__row {
		justify-content: center; }
	.team__card {
		flex: 0 1 80%; }
	.team__card-descp {
		padding: 15px 25px 35px 25px; }
	.footer__contact .header__callback {
		margin-bottom: 15px; }
	.team__row {
		margin-bottom: 15px; }
}

@media (max-width: 480px) {
	.consult-form__form-input {
		flex: 0 1 100%;	}
	.consult-form__form-btn {
		flex: 0 1 100%; }
	.team__card {
		flex: 0 1 100%; }
}

@media (max-width: 460px) {
	.header__callback {
    display: none; }
	.mob-callback__phone {
    display: flex; 
		margin-right: 15px; }
	.consult-form__form-block {
		padding: 35px 22px 22px 22px; }
	.team__btn {
		width: 100%; }
	.footer__contact .header__callback {
		display: block; }
}

@media (max-width: 414px) {
	.info__block-tabs .tab__navitem {
		flex: 0 1 100%;
		font-size: 20px; }
}

@media (max-width: 360px) {
	.info h1 {
		font-size: 40px;
		line-height: 45px; }
	.info h1 {
  	text-align: left;
 	 	margin-bottom: 30px; }
	.topical__position {
		padding: 35px; }
	.hot-deals h2 {
		font-size: 40px;
		line-height: 45px; }
	.topical h2 {
		font-size: 40px;
		line-height: 45px; }
	.consult-form h2 {
		font-size: 40px;
		line-height: 45px; }
}