//<Адаптив>===========================================================================================================================================
@media (max-width: 1450px) {
	.container {
		padding: 0 10px;
	}
}

@media (max-width: 930px) {
	.header__nav-block {
		flex: 0 1 650px; 
		justify-content: flex-end; }
	.header__soc-block {
		margin-right: 30px;}
	.header__callback {
		margin-right: 20px; }
}

@media (max-width: 768px) {
	.header {
    padding: 5px 0; }
	.logo-icon {
    max-width: 120px;
    height: 45px; }
	.logo-icon:before {
    background-size: 80%; }
	.header__callback {
		flex: 0 0 180px;}
	.header__callback a {
		font-size: 23px;
		font-weight: 700;
		line-height: 25px; }
	.header__popup-link {
		display: none; }
	.header__soc-block {
		flex: 0 0 150px; }
	.header__soc-block-icon {
		margin-bottom: 0; }
	.header__soc-block p {
		display: none; }
	.page {
		padding: 55px 0 0 0; }
	.mob-menu {
		top: 50px; }
}

@media (max-width: 700px) {
	.mob-menu {
    width: 100%;
    right: -100%;
    transition: right 0.8s; }
}

@media (max-width: 630px) {
	.header__soc-block {
    margin-right: 20px; }
}

@media (max-width: 600px) {
	.header__soc-block {
    display: none; }
}

@media (max-width: 515px) {

}

@media (max-width: 460px) {
	.header__callback {
    display: none; }
	.mob-callback__phone {
    display: flex; 
		margin-right: 15px; }
}
