//<Адаптив>===========================================================================================================================================
@media (max-width: 1450px) {
	.container {
		padding: 0 10px;}
	.topical__card {
		max-width: 660px;
		margin-right: 25px;}
	.topical__slider .slick-next {
    left: -5px;}
	.topical__slider .slick-prev {
		right: -3px;}
	.slider__hot-deals .slick-next {
		left: -5px;}
	.slider__hot-deals .slick-prev {
		right: -5px;}
	.how-work__actions {
		margin-right: 15px;}
	.sell-pass-info {
		background-position: 80% 0;}
}

@media (max-width: 1360px) {
	.info__block-tabs .tab__navitem {
    flex: 0 1 25%; }
}

@media (max-width: 1280px) {
	.info__form-block-sel {
		margin-right: 15px; }
	.info__form-block-inp {
    margin-right: 15px; }
	.info__form-block-sel_last {
		flex: 0 1 170px;
		margin-right: 0; }
	.info__form-block-inp input {
		margin-right: 8px; }
	.info__form-block-inp input:last-child {
		margin-right: 0; }
	.product-info__wrap-card .hot-deals__card	.hot-deals__card-descp {
		padding: 25px 15px;}
	.product-info__wrap-card .hot-deals__card	.hot-deals__card-link {
			font-size: 14px;}
}

@media (max-width: 1200px) {
	.topical__position {
		left: -5%; }
	.advant__item {
		flex: 0 1 22.3%;
		padding: 35px 30px; }
	.reviews__card {
		flex: 0 1 32%; }
	.consult-form__form-block-img {
		display: none; }
	.team__card {
		flex: 0 1 24%; }
	.team__card-descp {
		padding: 15px 15px 35px 15px; }
	.product-info__column {
		// flex: 0 0 50%;
		margin-right: 10px;}
	.product-info__wrap-card .hot-deals__card {
		flex: 0 1 49%;}
	.page-recurring {
		padding-bottom: 35px;}
	.how-work__actions .actions-item-text {
		padding: 10px 23px;}
}

@media (max-width: 1150px) {
	.advant__row {
    flex-wrap: wrap; }
	.advant__item {
    flex: 0 1 49%;
    padding: 35px; 
		margin-bottom: 20px; }
}

@media (max-width: 1100px) {
	.info__block-tabs {
		padding: 20px 25px 40px 25px; }
	.info__form-block-sel {
		flex: 1 1 auto; }
	.how-work__actions .actions-item-text {
		font-size: 22px;}
}

@media (max-width: 1050px) {
	.sell-pass-info__text {
    margin-right: 10px; }
}

@media (max-width: 1040px) {
	.footer__menu {
    margin-bottom: 35px; }
}

@media (max-width: 1024px) {
	.topical__card {
		margin-right: 15px; }
	.topical__position p {
		font-size: 23px; }
	.topical__position {
		padding: 35px 95px;
		left: -10%; }
	.consult-form__form-block {
		padding: 60px 22px 22px 22px; }
	.consult-form__form-input {
		margin-right: 10px; }
	.recurring {
		padding-top: 27px;}
	.product-info__row {
		flex-wrap: wrap;}
	.product-info__column {
		flex: 0 1 100%;
		margin-right: 0;
		margin-bottom: 35px;}
	.product-info__column:last-child {
		margin-bottom: 0;}
	.product-info__wrap-card .hot-deals__card {
		flex: 0 1 32%;}
	.product-info__wrap-card {
		margin-bottom: 20px;}
	.product-info__map {
		height: 350px;}
	.how-work__actions .actions-item-text {
		padding: 10px 23px 10px 15px;}
}

@media (max-width: 1000px) {
	.info__form-block-col {
		flex-wrap: wrap; }
	.info__form-block-col:last-child {
		flex-wrap: nowrap; }
	.info__form-block-sel {
		margin-bottom: 10px; }
	.info__form-block-inp {
		margin-bottom: 10px; }
	.info__form-block-col:last-child	.info__form-block-inp {
		margin-bottom: 0; }
	.how-work__actions {
		flex: 0 0 453px;}
}

@media (max-width: 960px) {
	.info__block-tabs .tab__navitem {
		font-size: 18px; }
	.topical__card img {
		width: 100%;
		height: 100%;}
}

@media (max-width: 930px) {
	.header__nav-block {
		flex: 0 1 650px; 
		justify-content: flex-end; }
	.header__soc-block {
		margin-right: 30px;}
	.header__callback {
		margin-right: 20px; }
	.topical__position {
		padding: 35px 100px; }
}

@media (max-width: 900px) {
	.topical__position {
		left: 0;
		padding: 35px 48px;
		background-image: none;
		background-color: #00000035;
	}
	.topical__position p {
		font-size: 28px; }
}

@media (max-width: 830px) {
	.sell-pass-info__form-btn {
		font-size: 14px; }
}

@media (max-width: 812px) {
	.info__block-tabs {
		padding: 20px 15px 35px 15px; }
	.reviews__row {
		flex-wrap: wrap; }
	.reviews__image-wrap {
		margin: 5px 0 10px 0;  }
	.reviews__card {
		flex: 0 1 49%; 
		margin-bottom: 15px;}
	.team__row {
    flex-wrap: wrap; }
	.team__card {
		flex: 0 1 49%; 
		margin-bottom: 15px; }
	.team__card-img img {
		object-fit: fill; }
	.product-info__wrap-card .hot-deals__card {
		flex: 0 1 33%;}
}

@media (max-width: 768px) {
	.header {
    padding: 3px 0; }
	.logo-icon {
    max-width: 100px;
    height: 40px; }
	.logo-icon:before {
    background-size: 90%; }
	.header__callback {
		flex: 0 0 140px;
    margin-right: 15px; }
	.header__callback a {
		font-size: 18px;
    line-height: 1; }
	.header__popup-link {
		display: none; }
	.header__soc-block {
		margin-top: 3px; 
		margin-right: 20px; }
	.header__soc-block-icon {
    width: 130px;
		margin-bottom: 0;}
	.header__soc-block-icon .soc-block-icon-link::before {
		background-size: 80%;}
	.header__soc-block p {
		display: none; }
	.header__menu-burg {
		flex: 0 0 20px;	}
	.icon-menu {
		flex: 0 0 20px;
		height: 14px; }
	.icon-menu span {
		top: 6px; }
	.header__menu-burg p {
		display: none; }
	.icon-menu.active span:first-child {
		top: 7px;	}
	.icon-menu.active span:last-child {
		bottom: 5px; }
	.header__soc-icon-link::before {
		background-size: 80%; }
	.page {
		padding-top: 40px;}
	.mob-menu {
		top: 35px; }
	.info {
		padding: 30px 0 35px 0; }
	// .info h1 {
	// 	font-size: 36px;
	// 	margin-bottom: 30px; }
	.info__item-link {
		flex: 0 1 23%;
		height: 30px;
		font-size: 18px; } 
	.info__block-tabs .block__nav {
		flex-wrap: wrap; }
	.info__block-tabs .tab__navitem {
		flex: 0 1 50%; }
	.info__block-tabs .tab__navitem.active:before {
		display: none; }
	.choice {
		padding: 35px 0; }
	.reviews {
		padding: 35px 0; }
	.reviews h2 {
		margin-bottom: 35px; }
	.hot-deals {
		padding: 25px 0; }
	.hot-deals h2 {
		margin-bottom: 35px; }
	.footer__soc-block p {
		display: block;
		font-size: 12px;}
	.topical {
		padding: 25px 0 35px 0; }
	.topical h2 {
		font-size: 24px;
		line-height: 1;
		margin-bottom: 25px; }
	.topical__position p {
		font-size: 20px;
		line-height: 1; }
	.topical__position {
		background-color: #00000055; }
	.topical__card {
		max-width: 330px;
		max-height: 200px; }
	.choice h2 {
		font-size: 24px;
		line-height: 1;
		margin-bottom: 25px; }
	.advant__item {
		flex: 0 1 24%;
		padding: 20px;
		margin-bottom: 10px; }
	.advant__item:before {
		width: 50px;
		height: 50px;
		margin-bottom: 10px;
		background-size: 90%; }
	.advant__item-line {
		margin-bottom: 15px; }
	.advant__item h3 {
		font-size: 14px;
		line-height: 1.1; }
	.topical__position {
		padding: 35px 25px 20px 25px; }
	.reviews {
		padding: 35px 0 10px 0; }
	.reviews h2 {
		font-size: 24px;
		line-height: 1;
		margin-bottom: 25px; }
	.reviews__row {
		flex-wrap: nowrap;
		overflow-x: auto;
		width: auto;}
	.reviews__row::-webkit-scrollbar {
		display: none; }
	.reviews__card {
		flex: 0 0 40%;
		padding: 0 25px 15px 25px;
		margin-right: 15px; }
	.reviews__card:last-child {
		margin-right: 0; }
	.reviews__image-wrap {
		margin: 0; }
	.reviews__image {
		flex: 0 0 60px;
		height: 60px; }
	.reviews__card h4 {
		font-size: 18px;
		line-height: 1; }
	.reviews__date {
		font-size: 12px;
		margin-bottom: 10px;}
	.reviews__like {
		margin-bottom: 10px;}
	.reviews__descp {
		font-size: 13px;
		line-height: 1.3;
		margin-bottom: 5px;}
	.reviews__btn {
		font-size: 12px;
		line-height: 1.3;}
	.hot-deals h2 {
		font-size: 24px;
		line-height: 1;
		margin-bottom: 25px; }
	.hot-deals {
		padding: 15px 0 25px 0; }
	.consult-form h2 {
		font-size: 24px;
		line-height: 1;
		margin-bottom: 10px;}
	.consult-form p {
		font-size: 14px;
		font-weight: 700;
		margin-bottom: 15px;}
	.consult-form__form-block {
		padding: 30px 15px;}
	.consult-form__form-block p {
		font-size: 12px !important;
		margin-bottom: 0 !important;}
	.consult-form__form {
		margin-bottom: 10px;}
	.consult-form__form-input {
		height: 33px;}
	.consult-form__form-btn {
		min-height: 33px;
		height: 33px;}
	.team {
		padding: 15px 0 30px 0;}
	.team h2 {
		font-size: 24px;
		line-height: 1;
		margin-bottom: 25px;}
	.team__row {
		width: auto;
		flex-wrap: nowrap;
		overflow-x: auto;
		margin-bottom: 30px;}
	.team__row::-webkit-scrollbar {
		display: none; }
	.team__card {
		flex: 0 0 33%;
		margin-right: 15px;
		margin-bottom: 0;}
	.team__card:last-child {
		margin-right: 0;}
	.team__card-img {
		flex: 0 1 100%;
		max-height: 200px;}
	.team__card-descp h4 {
		font-size: 20px;
		line-height: 1.2;
		margin-bottom: 8px;}
	.team__card-experience {
		font-size: 14px;
		margin-bottom: 13px;}
	.team__card-tel {
		font-size: 14px;
		margin-bottom: 8px;}
	.team__card-email {
		font-size: 12px;}
	.team__card-descp {
		padding: 20px 25px;}
	.team__btn {
		min-height: 33px;
		height: 33px;}
	.hot-deals__card {
		max-width: 280px;
		margin-right: 15px;}
	.hot-deals__card-img {
		flex: 0 1 100%;
		max-height: 180px;}
	.hot-deals__card-descp {
		padding: 15px 15px 25px 15px;}
	.hot-deals__card-charect {
		margin-bottom: 8px;}
	.hot-deals__card-price {
		font-size: 22px;
		margin-bottom: 10px;}
	.hot-deals__card-housing {
		font-size: 14px;}
	.hot-deals__card-housing {
		font-size: 12px;}
	.hot-deals__card-amount {
		font-size: 12px;}
	.hot-deals__card-link {
		font-size: 13px;
		height: 33px;}
	.footer__container {
		min-height: 330px;
		padding: 20px 10px !important;}
	.footer__menu {
		margin-bottom: 25px;}
	.footer__menu li:first-child {
		font-size: 18px;
		margin-bottom: 15px;}
	.footer__menu li {
		font-size: 14px;
		margin-bottom: 10px;}
	.footer__row {
		margin-bottom: 25px;}
	.footer__policy {
		font-size: 12px;
		margin-top: 15px;}
	.footer__contact .header__callback {
		margin-bottom: 10px;}
	.footer__contact .header__callback a {
		font-size: 23px;
		line-height: 1.3;}
	.footer__soc-block-icon {
		width: 150px;}
	.footer__soc-block-icon .soc-block-icon-link::before {
		background-size: 80%;}
	.mob-menu {
		padding: 35px 25px 100px 25px;}
	.mob-menu li a {
		font-size: 16px;
		padding-bottom: 10px;}
	.info__block-tabs .tab__navitem.active {
		color: #003C8C;}
	.category-info {
		padding: 30px 0 !important;}
	.recurring h1 {
		font-size: 24px;
		line-height: 1;
		margin-bottom: 20px;}
	#breadcrumbs {
		margin-bottom: 10px;}
	#breadcrumbs span {
		font-size: 12px;
		margin-left: 3px;}
	#breadcrumbs span a {
		font-size: 12px;
		margin-right: 3px;}
	.product-info__column {
		width: 100%;}
	.product-info__wrap-card {
		width: auto;
		flex-wrap: nowrap;
		overflow-x: auto;
		margin-bottom: 5px;}
	.product-info__wrap-card .hot-deals__card {
		flex: 0 0 45%;
		margin-right: 15px;}
	.product-info__wrap-card .hot-deals__card .hot-deals__card-link {
		font-size: 13px;}
	.product-info__wrap-card .hot-deals__card:last-child {
		margin-right: 0;}
	.product-info__wrap-card::-webkit-scrollbar {
		display: none; }
	.contacts__address li {
		font-size: 16px;}
	.contacts__contacts-block {
		margin-bottom: 20px;}
	.contacts__contacts-item-phone {
		font-size: 28px;
		line-height: 35px;}
	.contacts__contacts-item-email {
		font-size: 14px;
		line-height: 20px;}
	.contacts__soc-block {
		width: 130px;
		margin-bottom: 25px;}
	.contacts__soc-block .soc-block-icon-link::before {
		background-size: 80%;}
	.contacts {
		padding-bottom: 15px;}
	.product-info {
		padding-bottom: 35px;}
	.consult-form {
		padding: 15px 0;}
	.sell-pass-info {
		padding: 35px 0;}
	// .sell-pass-info__text h1 {
	// 	font-size: 36px;
	// 	line-height: 38px;
	// 	margin-bottom: 25px;}
	.sell-pass-info__form-block {
		padding: 17px 20px 20px 20px;}
	.sell-pass-info__form-block p:last-child {
		font-size: 10px;
		line-height: 1;}
	.sell-pass-info__form-select-select-block {
		margin-bottom: 10px;}
	.sell-pass-info__form-input {
		margin-bottom: 15px;}
	.sell-pass-info__form {
		margin-bottom: 15px;}
	.how-work h2 {
		font-size: 24px;
    line-height: 1;
		margin-bottom: 15px;}
	.how-work__actions {
		flex: 0 1 100%;}
	.how-work__actions .actions-item {
		margin-bottom: 10px;}
	.how-work__actions .actions-item:last-child {
		margin-bottom: 0;}
	.how-work__actions .actions-item-number {
		font-size: 20px;
		line-height: 1;
		flex: 0 0 45px;
		min-height: 45px;}
	.how-work__actions .actions-item-text {
		font-size: 16px;
		line-height: 1.3;
		padding: 5px 15px;}
	.how-work__img {
		height: auto;}
	.sell-info {
		background: #E9CCAF;}
	.page h1 {
		font-size: 36px;
		line-height: 38px;
		margin-bottom: 25px;}
	.page h2 {
		font-size: 24px;
		line-height: 1;}
}

@media (max-width: 700px) {
	.mob-menu {
    width: 100%;
    right: -100%;
    transition: right 0.8s; }
	.info__form-block-col:last-child	.info__form-block-inp {
		flex: 1 1 auto; }
	.advant__row {
		justify-content: space-between; }
	.advant__item {
		flex: 0 1 23%; }
	.team__card {
		flex: 0 0 38%;
		margin-right: 10px;
		margin-bottom: 0;}
	.advant__item {
		flex: 0 1 24.3%;
		padding: 13px;}
	.advant__item h3 {
		font-size: 12px;}
	.advant__item-line::before {
		width: 100%;}
}

@media (max-width: 630px) {
	.header__soc-block {
    margin-right: 20px; }
}

@media (max-width: 613px) {
	.topical__card img {
		width: 100%; }
	.consult-form__form {
		flex-wrap: wrap; }
	.consult-form__form-input {
		flex: 0 1 48%;
		margin-right: 0;
		margin-bottom: 10px; }
	.footer__menu {
		width: 100%; }
	.reviews__card {
		flex: 0 0 45%;
		padding: 0 10px 15px 10px;
		margin-right: 10px;}
	.team__card {
		flex: 0 0 45%;}
	.sell-pass-info__row {
		flex-wrap: wrap;}
	.sell-pass-info__text {
		margin-right: 0;
		margin-bottom: 20px;}
	.sell-pass-info__text h1 {
		max-width: 100%;
		margin-bottom: 15px;}
	.sell-pass-info__text p {
		max-width: 100%;}
	.sell-pass-info__form-block {
		flex: 0 1 100%;
		padding: 20px 20px 30px 20px;}
	.how-work__row {
		flex-wrap: wrap;}
	.how-work__actions {
		margin-right: 0;}
	.how-work__actions {
		margin-bottom: 15px;}
}

@media (max-width: 600px) {
	.footer__contact .header__soc-block {
		display: block; }
}

@media (max-width: 540px) {
	.advant__item {
		flex: 0 1 32%;
		padding: 15px;} 
	.info__block-tabs .tab__navitem {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		font-size: 16px;
		margin-bottom: 10px;}
	.info__block-tabs .tab__navitem:after {
		display: block;}
	.product-info__wrap-card .hot-deals__card {
		flex: 0 0 65%;}
}

@media (max-width: 515px) {
	.info {
    padding: 10px 0 35px 0;}
	.info__item {
    flex-wrap: wrap; }
	.info__item-link {
		flex: 0 1 48%;
		margin-bottom: 15px; }
	.info__form-block-col {
		margin-bottom: 25px; }
	.info__form-block-col:last-child {
		flex-wrap: wrap; }
	.info__form-block-col:last-child .info__form-block-inp {
		flex: 0 1 100%; 
		margin-right: 0;
		margin-bottom: 10px; }
	.info__form-block-inp-btn {
		flex: 0 1 100%; }
	.info__form-block-sel {
		flex: 0 1 100%; 
		margin-right: 0; }
	.info__form-block-inp {
		flex: 0 1 100%;
		margin-right: 0; }
	.info__form-block-inp input {
		flex: 0 1 100%; }
	.topical {
		padding: 35px 0; }
	.choice h2 {
		margin-bottom: 25px; }
	.advant__item:before {
		margin-bottom: 10px; }
	.advant__item-line {
		margin-bottom: 15px; }
	.team__card {
		flex: 0 1 80%; }
	.team__card-descp {
		padding: 15px 25px 35px 25px; }
	.footer__contact .header__callback { 
		margin-bottom: 15px; }
	.team__row {
		margin-bottom: 15px; }
	.reviews__card {
		flex: 0 0 47%;} 
	.team__card {
		flex: 0 0 55%;} 
	.advant__item-line::before {
		width: 50px;
		background-size: 150%;}
	.recurring {
		padding-top: 15px;}
	.page-recurring {
		padding-bottom: 10px;}
	.sell-pass-info {
		padding: 20px 0 30px 0;}
	.how-work {
		padding-bottom: 15px;}
	.how-work__actions .actions-arrow-icon::after {
		background-size: 80%;}
}

@media (max-width: 480px) {
	.consult-form__form-input {
		flex: 0 1 100%;	}
	.consult-form__form-btn {
		flex: 0 1 100%; }
	.info {
		padding: 20px 0 35px 0;}
	.info h1 {
		font-size: 30px;
    line-height: 1.3;
		margin-bottom: 20px;}
	.team__card-img img {
		object-fit: cover;}
}

@media (max-width: 460px) {
	.header__callback {
    display: none; }
	.mob-callback__phone {
    display: flex; 
		margin-right: 15px; }
	.consult-form__form-block {
		padding: 35px 22px 22px 22px; }
	.team__btn {
		width: 100%; }
	.footer__contact .header__callback {
		display: block; }
	.reviews__card {
		flex: 0 0 60%;}
	.header__soc-block {
		margin-right: 10px;}
	.advant__item {
		flex: 0 1 49%;
		padding: 16px 16px 23px 16px;}
	.product-info__wrap-card .hot-deals__card {
		flex: 0 0 80%;}
	// .sell-pass-info__text h1 {
	// 	font-size: 33px;
	// 	line-height: 33px;}
	.sell-pass-info__text p {
		font-size: 14px;
		line-height: 1.2;}
	.page h1 {
		font-size: 30px;
    line-height: 1;}
}

@media (max-width: 414px) {
	.team__card {
		flex: 0 0 60%;}  
	.sell-pass-info__text h1 {
		font-size: 28px;
		line-height: 30px;}
}

@media (max-width: 380px) {
	.reviews__card {
		flex: 0 0 80%;}
	.topical__card {
		max-width: 300px;
		max-height: 180px;
		margin-right: 10px;}
	.info__block-tabs {
		padding: 20px 10px 35px 10px;}
	.info__block-tabs .tab__navitem {
		font-size: 14px;}
}

@media (max-width: 360px) {
	.info h1 {
  	text-align: left;
 	 	margin-bottom: 30px; }
	.topical__position {
		padding: 35px; }
	.topical__card {
		max-width: 280px;
		max-height: 160px;}
	.team__card {
		flex: 0 0 70%;} 
	.product-info__wrap-card .hot-deals__card .hot-deals__card-link {
		font-size: 12px;}
}

@media (max-width: 340px) {
	.sell-pass-info__form-btn {
		font-size: 13px;}
	.how-work__actions .actions-item-text {
		padding: 5px 15px 5px 10px;}
}