.pass-info {
  background-image: url('../img/pass-bg.jpg');
}

.sell-info {
  background-image: url('../img/sell-bg.jpg');
}

.sell-pass-info {
  position: relative;
  padding: 56px 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.sell-pass-info__row {
  justify-content: space-between;
}

.sell-pass-info__text {
  h1 {
    max-width: 575px;
    width: 100%;
    color: #fff;
    margin-bottom: 41px;
  }
  p {
    max-width: 399px;
    width: 100%;
    font-size: 16px;
    line-height: 19.2px;
    color: #fff;
  }
}

.sell-pass-info__text-sell {
  h1 {
    max-width: 480px;
    width: 100%;
    color: #161615;
  }
  p {
    color: #161615;
  }
}


.sell-pass-info__form-block {
  flex: 0 1 469px;
  padding: 17px 28px 47px 28px;
  background: #fff;
  p {
    line-height: 16.8px;
    margin-bottom: 10px;
    &:last-child {
      font-size: 11px;
      line-height: 13.2px;
      margin-bottom: 0;
    }
  }
}

.sell-pass-info__form {
  width: 100%;
}

.sell-pass-info__form-select-select-block {
  margin-bottom: 20px;
}

.sell-pass-info__form-input {
  width: 100%;
  height: 36px;
  border: 1px solid #A3A3A3;
  background-color: #fff;
  margin-bottom: 22px;
}

.sell-pass-info__form-btn {
  width: 100%;
  font-size: 16px;
  margin-bottom: 28px;
}

.how-work {
  padding-bottom: 35px;
}

.how-work h2 {
  margin-bottom: 46px;
}

.how-work__row {
  justify-content: space-between;
}

.how-work__actions {
  flex: 0 1 665px;
  flex-direction: column;
}

.how-work__actions-item {
  border-radius: 25px;
  background: #fff;
  overflow: hidden;
  margin-bottom: 17px;
}

.how-work__actions-item:last-child {
  margin-bottom: 0;
}

.how-work__actions-item-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 46px;
  font-weight: 700;
  line-height: 55.2px;
  color: #fff;
  flex: 0 0 95.48px;
  height: 92.46px;
  background: linear-gradient(#c10010 0%, #a00a24 11.73%, #671b49 34.34%, #3a2966 55.28%, #1a337a 73.86%, #073987 89.4%, #003c8c 100%);
}

.how-work__actions-item-text {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  padding: 10px 10px 10px 51px;
  border: 2px solid #e8e8e8;
  border-left: none;
  border-radius: 0px 25px 25px 0;
  overflow: hidden;
}

.how-work__img {
  flex: 0 1 750px;
  height: 424px;
  border-radius: 25px;
  overflow: hidden;
}

.how-work__img img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
