//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "PT Sans Caption";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1440;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;  
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
	color: #161615;
	font-size: 14px;
	font-weight: 400;
	background: #fff;
	a {
		font-family: "PT Sans Caption";
		color: #161615;
	}
	&.lock {
		overflow: hidden;
	} 
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ЗАГОЛОВКИ>=================================================================================================================
h1 {
	font-size: 46px;
	font-weight: 700;
	line-height: 55.2px;}
h2 {
	font-size: 46px;
	font-weight: 700;
	line-height: 55.2px;}
h3 {
	font-size: 26px;
	font-weight: 700;
	line-height: 31.2px;}
h4 {
	font-size: 24px;
	font-weight: 700;
	line-height: 28.8px;}
//<ЗАГОЛОВКИ>=================================================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	// min-height: 200vh;
	// position: relative;
	&.loaded {
	}
}
.page {
	flex: 1 1 auto;  
	// padding: 35px 0;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	position: relative;
	z-index: 50;
	// @media (max-width: $md1+px) {
	// 	// max-width: 970px;
	// 	padding: 0 10px;
	// }
	// @media (max-width: $md2+px) {
	// 	// max-width: 750px;
	// }
	// @media (max-width: $md3+px) {
	// 	// max-width: none;
	// 	// padding: 0 10px;
	// }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>============================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
// @import "fancybox.min.scss";
// @import "home.scss";
// @import "pagging.scss";
//@import "icons.scss";
// @import "map.scss";
// @import "slider.scss";
// @import "collection.scss";
@import "popup.scss";
@import "header.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>=====================================================================================================================================
.info {
	position: relative;
	padding: 62px 0 126px 0;
	background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
	background-image: url('../img/header-bg.jpg');
}

.info h1 {
	text-align: center;
	color: #fff;
	margin-bottom: 47px;
}

.info__item {
	justify-content: space-between;
	margin-bottom: 23px;
}

.info__item-link {
	flex: 0 1 340px;
	height: 40px;
	font-size: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background: #E8E8E8;  
}


.info__block-tabs {
	padding: 21px 37px 43px 40px;
	background: #fff;
}

.info__block-tabs .block__nav {
	display: flex;
	justify-content: space-between;
	border-bottom: 2.5px solid #BABABA;
}

.info__block-tabs .tab__navitem {
	flex: 0 1 18%;
	text-align: center;
	font-size: 22px;
	line-height: 26.4px;
	cursor: pointer;
	padding-bottom: 7px;
	margin-bottom: -2.5px;
}

.info__block-tabs .tab__navitem.active {
	font-weight: 700;
	border-bottom: 3px solid #000;
}

.info__block-tabs .tab__item {
	padding-top: 34px;
}

.info__form-block {
	display: flex;
	flex-direction: column;
}

.info__form-block-col {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 48px;
}

.info__form-block-col:last-child {
	margin-bottom: 0;
}

.info__form-block-sel {
	flex: 0 1 200px;
}

.info__form-block-sub {
	line-height: 16.8px;
	margin-bottom: 9px;
}

.info__form-block-inp {
	flex: 0 1 235px;
}

.info__form-block-inp-number {
	display: flex;
	justify-content: space-between;
}

.info__form-block-inp input {
	flex: 0 0 108px;
	height: 36px;
	border: 1px solid #A3A3A3;
}

.info__form-block-sel_last {
	flex: 0 1 247px;
}

.info__form-block-inp-btn {
	flex: 0 1 345px;
}

.info__form-block-inp_bottom {
	flex: 0 1 538px;
	height: 36px;
}

// ==============================================================================================================================================================
.topical {
	padding: 55px 0 70px 0;
}

.topical h2 {
	margin-bottom: 53.5px;
} 

.topical__row {
	justify-content: space-between;
}

.topical__card {
	position: relative;
	display: flex;
  justify-content: flex-end;
	// flex: 0 1 48.5%;
	max-width: 698px;
  width: 100% !important;
	max-height: 313px;
	border-radius: 45px;
	overflow: hidden;
}

.topical__card img {
	max-width: 100%;
}

.topical__position {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-end;
	padding: 35px 48px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url('../img/offers/03.png');
}

.topical__position_two {
	background-image: url('../img/offers/04.png');
}

.topical__position p {
	font-size: 28px;
	font-weight: 700;
	line-height: 33.6px;
	color: #fff;
}

.topical__slider.slick-slider .slick-track {
	justify-content: space-between;
}

.topical__slider .slick-arrow {
	position: absolute;
	top: 45%;
	width: 43px;
	height: 43px;
	font-size: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: #fff;
	border: 1px solid #D2D1D1;
	z-index: 50;
}

.topical__slider .slick-arrow:before {
	content: '';
	float: left;
	width: 7px;
	height: 15px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100%;
}

.topical__slider .slick-next {
	left: -15px;
}

.topical__slider .slick-prev {
	right: -6px;
}

.topical__slider .slick-next:before {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4Ljg3NSIgaGVpZ2h0PSIxOS41MjEiIHZpZXdCb3g9IjAgMCA4Ljg3NSAxOS41MjEiPg0KICA8ZyBpZD0i0KHQs9GA0YPQv9C/0LjRgNC+0LLQsNGC0YxfNDAiIGRhdGEtbmFtZT0i0KHQs9GA0YPQv9C/0LjRgNC+0LLQsNGC0YwgNDAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzguMzQyIC0xMDI5LjgzNCkiPg0KICAgIDxsaW5lIGlkPSLQm9C40L3QuNGPXzEyIiBkYXRhLW5hbWU9ItCb0LjQvdC40Y8gMTIiIHgxPSI2Ljc1NiIgeTE9IjguNjY3IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyMzkuNDAyIDEwMzkuNjI4KSIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAzYzhjIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMS41MSIvPg0KICAgIDxsaW5lIGlkPSLQm9C40L3QuNGPXzEzIiBkYXRhLW5hbWU9ItCb0LjQvdC40Y8gMTMiIHkxPSI4LjY2NyIgeDI9IjYuNzU2IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyMzkuNDAyIDEwMzAuODk0KSIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAzYzhjIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMS41MSIvPg0KICA8L2c+DQo8L3N2Zz4NCg==');
}

.topical__slider .slick-prev:before {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4Ljg3NSIgaGVpZ2h0PSIxOS41MjEiIHZpZXdCb3g9IjAgMCA4Ljg3NSAxOS41MjEiPg0KICA8ZyBpZD0i0KHQs9GA0YPQv9C/0LjRgNC+0LLQsNGC0YxfMzgiIGRhdGEtbmFtZT0i0KHQs9GA0YPQv9C/0LjRgNC+0LLQsNGC0YwgMzgiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xNjgwLjI1IC0xMDI5LjgzNCkiPg0KICAgIDxsaW5lIGlkPSLQm9C40L3QuNGPXzEwIiBkYXRhLW5hbWU9ItCb0LjQvdC40Y8gMTAiIHgyPSI2Ljc1NiIgeTI9IjguNjY3IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNjgxLjMwOSAxMDMwLjg5NCkiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwM2M4YyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNTEiLz4NCiAgICA8bGluZSBpZD0i0JvQuNC90LjRj18xMSIgZGF0YS1uYW1lPSLQm9C40L3QuNGPIDExIiB4MT0iNi43NTYiIHkyPSI4LjY2NyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTY4MS4zMDkgMTAzOS42MjgpIiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDNjOGMiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjUxIi8+DQogIDwvZz4NCjwvc3ZnPg0K');
}

//====================================================================================================================================================
.choice {
	padding: 52px 0 72px 0;
	background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
	background-image: url('../img/choose-bg.jpg');
}

.choice h2 {
	margin-bottom: 60.5px;
}




//</ОСНОВНОЙ БЛОК>====================================================================================================================================

//<Адаптив>===========================================================================================================================================
@import "media.scss";